h5 {
  color: #f1ece9;
  font-family: 'sans-serif';
  font-size: 30px;
  
  }
  
  .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  
  }
  
  .carousel-text {
  position: relative;
  color: #f1ece9;
  font-weight: lighter;
  font-family: 'sans-serif';
  font-size: 25px;
  
  }