/* ESTOS SON LOS COLORES PRINCIPALES DE LA NUEVA PALETA */

.color-primario {
    color: #D7443F;
}

.color.secundario {
    color: #485058;
}



.bg-primario {
    background-color: #D7443F;
}
.bg.secundario {
    background-color: #485058;
}

a:hover {
  color: #D7443F;
  text-decoration: overline;
}

/* ESTILOS DEL NAVBAR */

.dropdown {
    position: relative;
    display: inline-block;
    }
    
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
        
    }
        
.dropdown:hover .dropdown-menu {display:block;}
        
.form-inline {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    }
        
.dropdown-item:active{
    background-color: white;
    color: black;
    }



    .mdb-lightbox {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        margin: auto;
        }



        
/* Página de contacto */
.jumbotron {
    background-color: #485058;
    box-shadow: 0px 0px 10px 0px grey;
    /* width: 100%; 
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */

}
.text-contactus {
    padding-top: 30px;
}
.location-map {
    background-color: #f1ece9;
    /* padding-right: 50px;
    padding-left: 50px; */
    /* box-shadow: 0px 0px 10px 0px grey; */
}
.contact-form {
    /* background-color:azure; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-page {
    background-color: #f1ece9;
}
.display-4 {
    font-family: 'Open Sans';
    font-weight: 500;
}
/* 
    comenté esta propiedad,


    .btn {
    margin-top: 15px;
    background-color: #333A42;
} */
.p {
    font-weight: 500;
    color: #333a42;
}
h3 {
    font-weight: 700;
}
/* Página de error */
/* body {
    background-color:#f1ece9 ;
} */
.img {
    margin-top: 68px;
    box-shadow: 0px 0px 10px 0px grey;  
}

.section {
    margin-top: 100px;
}

.img-footer {
    width: 50%;
}


/* CSS DE PÁGINA ABOUT US */

.card-img-top {
    border-radius: 100%;
    }
    
    .card-about {
    border: none;
    max-width: 250px;
    margin: auto;
    }


    .about {
        padding: 70px 0;
        background: #Fff;
        text-align: center;
        border: 1px solid #ccc;
        width: 100%;
    }
    